[submodule "vendors/js-url"]
	path = vendors/js-url
	url = https://github.com/websanova/js-url
[submodule "vendors/atwho.js"]
	path = vendors/atwho.js
	url = https://github.com/ichord/at.js
[submodule "vendors/marked"]
	path = vendors/marked
	url = https://github.com/chjj/marked
